.Cabeçalho {
    background: center / cover url('https://img.freepik.com/vetores-gratis/degrade-de-fundo-azul_23-2149330355.jpg');
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    font: "Open Sans", sans-serif;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
    border: 3px solid rgb(47, 50, 221);
}
.Cadastrar {
    font-size: 50px;
}
body {
    width: 97%;
    height: 70%;
    margin: 0 auto;
    background-color:#73ecec;
    padding: 0 20px 20px 20px;
    border: 3px solid rgb(66, 69, 233);
    background: center / cover url(Seguirimg.jpeg);
}
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
.Voltar {
    height: 80px;
    display: block;
    margin: 0 auto;
}
.Conta {
    display: flex;
    margin-left: 660px;
    height: 30px;
}
.Senha {
    display: flex;
    margin-left: 660px;
    height: 30px;
}
.Siga {
    display: flex;
    margin-left: 790px;
    margin-top: 60px;
    height: 40px;
    font-size: 80px;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color:	#0bca1b	;
    text-shadow: 1px 1px 1px 	black;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color:	#2178b3	;
}
.Linha {
    width: 380px;
    margin-top: 70px;
}