img {
    height: 250px;
    display: block;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color:	#0f708d	;
}
body {
    margin: 0 auto;
    background-color:#73ecec;
    padding: 0 20px 20px 20px;
}
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
.Introdução {
    font-size: 30px;
    text-align: center;
    color:	#0a3c4b	;
}
p,li {
    line-height: 5;
}
  li {
    list-style-type: none;
}
.Continuações {
    font-size: 35px;
    text-align: center;
    line-height: 5;
}
.Cabeçalho {
    background: left / cover url('https://img.freepik.com/vetores-gratis/degrade-de-fundo-azul_23-2149330355.jpg');
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: right;
    font-size: 50px;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
}
.Seguir {
    font-size: 50px;
}
.Cadastrar {
    font-size: 50px;
}
